---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);



  // Get the current date
  let currentDate = new Date();
  // Month names array
  let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

  // Get the month and year
  const month = monthNames[currentDate.getMonth()];
  const year = currentDate.getFullYear();

---

<BaseLayout sideBarActiveItemID="home">
  <Image format="webp" width={1000} height={1000} src="/tim-jedrek.webp" alt="Tim Jedrek on a boat in a river" />

  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey there 👋</div> -->
    <div class="text-5xl font-bold">I'm Tim Jedrek</div>
    <div class="text-3xl py-3 font-bold">Digital Marketing Agency Owner | Software Engineer | Pilot</div>
    <div class="py-2">
      <text class="text-lg">
        This is my personal website.  If you're on here already, just wanted to let you know that there's a link in the menu, and also a button down below, that says <span class="font-bold text-accent"><a href="https://forms.timjedrek.com/contact" class="hover:underline"> contact</a></span> which leads you to a form where we can get in contact.  Or you can email me directly at <span class="font-bold text-accent"><a href="mailto:tim@timjedrek.com" class="hover:underline">tim@timjedrek.com</a></span> or call me at <span class="font-bold text-accent"><a href="tel:+1-314-358-2100" class="hover:underline">314-358-2100</a></span>.  That's acutally my direct line.  No phone trees, robots, or off-shore customer service.  I'm a real human being that's willing to talk with you and get to know you.  If you're not ready for all that just yet, feel free to explore the website to learn more about me and check out some of the projects I've worked on.
      </text>
    </div>
    <div class="my-8 flex gap-5">
      <!-- <a class="btn btn-outline px-6" href="/tim-jedrek-speaker-bio.pdf" target="_blank">Speaker Bio</a>
      <a class="btn btn-outline px-6" href="/blog/tag/clients">Past Work</a> -->
      <a href="https://forms.timjedrek.com/contact" target="_blank" class="btn btn-outline">Contact Me</a>
    </div>
    <div class="text-2xl py-3 font-bold">About Me</div>
    <!-- <div class="text-sm italic text-accent">Last updated {month} {year}</div> -->
    <div class="text-sm italic text-accent">Last updated August 15, 2024</div>
    <div class="py-2">
      <text class="text-lg">
        I'm on a mission to find 100 flight schools in the world to partner with and double their student body.  Everyday, I work with the team at <a href="https://rightruddermarketing.com" class="link">Right Rudder Marketing</a> to implement and execute the latest technical strategies and tactics to move flight school businesses up higher on Google search. Our collective goal is to get those flight schools known to their prospective students.  Through our efforts we've helped flight schools in America achieve:
      </text>
      <ul class="list-disc ml-10 my-5 text-lg">
        <li>Bringing multiple flight schools to over $1M in annual revenue</li>
        <li>10X the number of leads coming in a flight school</li>
        <li>Doubling flight school student body and revenue generating flights bringing in over $6M in annual revenue</li>
        <li>Doubling the amount of Google reviews at a flight school in under 6 months</li>
        <li>Dominating in a flight school's local service area to rank #1 on Google Maps and organic search</li>
      </ul>
      <Image format="webp" width={1000} height={1000} src="/tim-jedrek-right-rudder-king-schools-2.webp" alt="Tim Jedrek at Kings Schools EDU CON speaking" />

      <p class="pb-5 italic text-gray-300">
        Tim Jedrek giving a talk at King Schools' EDU CON in San Diego, CA September 2023
      </p>
      <text class="text-lg">
        It is truly awe inspiring to see our flight schools transform their operations into large scalable businesses.  I love being a part of that because I know that by growing our flight schools' businesses, it drives more people into aviation and brings more pilots into the industry.  And that's what really matters.  <span class="text-accent">Having a lasting impact on our students and the future pilots of the world.</span>
      </text>
    </div>
    <div class="text-2xl py-3 font-bold">How I Got Here</div>
    <div class="py-2">
      <text class="text-lg">
        <a href="https://rightruddermarketing.com" class="link">Right Rudder Marketing</a> is pretty new.  It all started in October of 2022 and we signed our first flight school in April of 2023. But I've been in the game longer that just that.  <span class="text-accent">I started my career in manufacturing.</span>  Specifically quality assurance management in the food industry.  With over a decade of experience working in the food industry, I built teams, worked with B2B sales, facilitated federal government and third party audits, and created systems and procedures to build and optimize the departments I managed.  <span class="text-accent">Every quality food safety audit I managed had a passing result and had scores above a 90.</span>  I had a perfect track record.  I bring that same work ethic to every aspect of my life.  I always want to achieve the best and do the best.
      </text>
    </div>
    <Image format="webp" width={500} height={500} src="/tim-jedrek-factory-floor.webp" alt="Tim Jedrek on the factory floor" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek walking the factory floor.  Full PPE and everything (for safety and food safety of course!)
    </p>
    
    <Image format="webp" width={1000} height={1000} src="/tim-jedrek-tyson-team.webp" alt="Tim Jedrek Tyson Foods Team" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek and the quality food safety team at Tyson Foods working during the holidays
    </p>
    <div class="py-2">
      <text class="text-lg">
        It was a great career and one that helped fund my pilot certificate.  I started at the bottom as an entry level technician and worked my way up the ladder to the department head as a quality manager.  I am very proud of my accomplishments and achievements.  I am very proud of the teams I managed and the work we completed.  However, I always had an itch.  <span class="text-accent">I had the aviation bug.</span>  After I did my intro discovery flight, I knew I had to be in aviation. ✈️
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        On the other hand, I had been creating websites and programming for fun.  I started this programming hobby when I was in high school and I really enjoyed learning how to code and program. Learning a new programming language or framework would literally keep me up all through the night coding away on my laptop and I enjoyed every minute of it. I was fortunate enough to go on to sell my first website to a restaurant in 2019.  The realization that this could be a sustainable business, a way to generate income outside of food manufacturing hit me hard. I wanted to make this a reality. From there, I took on more projects and helped interior designers, musicians, lawn care companies, and various other small businesses with their websites.  However, I noticed that the companies I worked with didn't care about how I built the website, whether I used WordPress, Wix, or GoDaddy or even if I coded the whole thing from scratch... <span class="text-accent">What business owners really cared about was growing their own business and getting new customers and sales.</span>  I knew I had to upgrade my perspective and learn how to really benefit business owners and give a quality product and service.
      </text>
    </div>
    
    <div class="text-xl py-3 font-semibold">The World of Marketing</div>
    <div class="py-2">
      <text class="text-lg">
        What really mattered was not just the website.  But instead how the website fit into a marketing plan as a whole.  In an effort to grow my clients' businesses, I dived head first into marketing and sales.  I attended conferences, read books, took courses to further my skills, and found mentors and coaches to guide me on the path of success. <span class="text-accent">Having mentors and coaches to teach me the secrets of business was the 100LL fuel that I needed to grow my business to where it is today. </span> From just a side gig to now a full scale marketing agency on it's way to multiple seven figures, it is quite literally the most rewarding time of my life. I am blessed to be surrounded by a group of similar marketing agency owners that helped guide me and show me how to do SEO, how to run Google Ads, and how to grow businesses the right way.  Which is the "Right Rudder" way 😁.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        One of the first lessons I had was choosing a niche or a specific industry to focus on.  In the past when I was selling websites, I had tried to serve everyone and any business.  I quickly learned that doing so is short sighted.  As a business, when we think about our marketing plan, we need to think about to whom our message impacts.  We need to focus and dial in on who our target customer is and who we want to help and bring value to.
      </text>
    </div>
    <div class="text-xl py-3 font-semibold">Choosing Aviation and Flight Schools</div>
    <div class="py-2">
      <text class="text-lg">
        Which brings me back to that itch we were talking about earlier.  My mentors taught me that if you want to grow a successful business, then you want to be in business with something you have knowledge in.  Something where you spend a majority of your time and money on or have insider knowledge.  For me that was aviation and the flight training industry.  I don't know about you, but I've spent tens of thousands and soon to be hundreds of thousands of dollars in flight training and flying around for fun.
      </text>
    </div>
    <Image format="webp" width={1000} height={1000} src="/tim-jedrek-josh-nelson.webp" alt="Tim Jedrek and his mentor, Josh Nelson" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek and one of his business mentors, Josh Nelson
    </p>
    <div class="text-xl py-3 font-semibold">Enter Right Rudder Marketing</div>
    <div class="py-2">
      <text class="text-lg">
        And that's pretty much how I got here.  I combined the two passions I had for aviation and programming and founded the company, <a href="https://rightruddermarketing.com" class="link">Right Rudder Marketing</a>.  A lot of trial and error, and a lot of sleepless nights coding away and building software and marketing websites for flight schools.  Now, I'm more focused on building up the Right Rudder Marketing team to scale and duplicate my work and methodology to all our future flight schools to grow their businesses.  The recipe is the same.  A multifaceted approach to marketing online to remain omnipresent in the minds of our target customers.  
      </text>
    </div>
    <div class="pb-10 pt-5">
      <a class="btn btn-outline px-6" href="/right-rudder-marketing-company-profile.pdf" target="_blank">Company Profile</a>
    </div>
    <Image format="webp" width={1000} height={1000} src="/right-rudder-marketing-team-cessna-172.webp" alt="Right Rudder Marketing team at the 2024 annual team fly-in at Medellin, Colombia" />
    <p class="pb-5 italic text-gray-300">
      The Right Rudder Marketing team at the annual 2024 FLY-IN in Medellin, Colombia
    </p>
    <Image format="webp" width={1000} height={1000} src="/fsana-tim-jedrek-flight-school-marketing.webp" alt="Tim Jedrek speaking at FSANA about marketing" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek at FSANA 2023 giving a talk on marketing
    </p>
    <Image format="webp" width={1000} height={1000} src="/tim-jedrek-with-john-and-martha-king.jpg" alt="Tim Jedrek with John and Martha King" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek with John and Martha King
    </p>
    
    <div class="text-2xl py-3 font-bold">What Else Do You Do?</div>
    <div class="py-2">
      <text class="text-lg">
        If I'm not flying, writing, or collaborating with a flight school owner... I enjoy my time with my wife, Dianyi.  We enjoy traveling, running marathons, learning foreign languages, and acquiring new skills like rock climbing, golf, boxing, painting, cooking, dancing, shooting, hunting, and ice skating.  Anything really.  We love doing novel things together.  Life's pretty short.  Gotta enjoy it!
      </text>
    </div>
    <Image format="webp" width={500} height={500} src="/tim-and-dianyi-at-a-music-concert.webp" alt="Tim Jedrek and Dianyi at a music concert" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek and his wife, Dianyi, at a music concert
    </p>
    <Image format="webp" width={1000} height={1000} src="/tim-and-dianyi-painting.webp" alt="Tim Jedrek and Dianyi learning how to paint" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek and his wife, Dianyi, learning how to paint
    </p>
    <Image format="webp" width={500} height={500} src="/tim-and-dianyi-climbing-trees.webp" alt="Tim Jedrek and Dianyi at a music concert" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek and his wife, Dianyi, climbing trees
    </p>
    <Image format="webp" width={1000} height={1000} src="/tim-dianyi-skating.jpg" alt="Tim Jedrek and Dianyi skating" />
    <p class="pb-5 italic text-gray-300">
      Tim Jedrek and his wife, Dianyi, ice skating
    </p>
    
    
    <div class="text-2xl py-3 font-bold">What's Next?</div>
    <div class="py-2">
      <text class="text-lg">
        That's up to you.  You can peruse the website and look at some of the work I've done.  And then you can contact me.  See you soon.
      </text>
    </div>
    <div class="my-8">
      <a href="https://forms.timjedrek.com/contact" target="_blank" class="btn btn-outline">
        Contact Me
      </a>
    </div>
  </div>
<!-- 
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>


